{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>WELCOME TO MY PORTFOLIO!</h1>
<hr>
<div>The page in under construction...</div>
<hr>
<div class="content-flex">
    <div class="image-center">
        <img src="{% static 'img/me.jpg' %}" alt="My photo" class="round-picture">
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis aliquam purus, in elementum nibh maximus vitae. Aliquam sollicitudin nunc at neque aliquet, ac vestibulum ligula dapibus. Nullam efficitur diam sed sem tristique, vitae euismod dui eleifend. Aenean blandit nisl vitae libero ullamcorper facilisis. Fusce tempor efficitur orci, id fermentum nibh interdum eget. Nullam vitae nibh vestibulum augue pulvinar egestas. Morbi ac sem sollicitudin, molestie turpis quis, accumsan purus. Praesent nec dapibus ligula, ut feugiat nibh. Etiam sit amet accumsan nisl, non ultricies nulla. Sed tortor magna, tincidunt id justo at, sollicitudin mollis dolor. Mauris iaculis odio nec sagittis fringilla. Vivamus eget gravida massa. Ut sed semper ligula, sit amet imperdiet purus. Duis commodo sagittis arcu id venenatis.</p>
        <p>Donec a ligula interdum, egestas est vel, vestibulum lorem. Aenean maximus a felis quis ornare. Phasellus scelerisque magna ligula, eu cursus leo bibendum nec. Curabitur tristique mollis dui a ullamcorper. Nulla facilisi. Maecenas luctus risus ut odio vehicula, ac placerat sem aliquet. Morbi vel bibendum nibh.</p>
    </div>
</div>
<hr>
<div>
    <p>Nullam ullamcorper eros eu leo mattis, quis sollicitudin nisi maximus. Ut ut maximus nunc. Sed faucibus turpis arcu. Etiam consectetur tincidunt urna placerat fermentum. Phasellus vitae quam in felis eleifend imperdiet nec sit amet nisi. Nulla sollicitudin semper eros. Praesent ante nisl, semper nec tincidunt a, eleifend sit amet quam.</p>
</div>
<hr class="last-line">
{% endblock content %}
