{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>WELCOME TO MY PORTFOLIO!</h1>
<hr>
<div class="content-flex">
    <div class="image-center">
        <img src="{% static 'img/me.jpg' %}" alt="My photo" class="round-picture">
    </div>
    <div>
        {% if welcome %}
            {{ welcome|safe }}
        {% else %}
            <p>Error. No database found.</p>
        {% endif %}
    </div>
</div>
<hr>
<div class="content-flex">
    <div class="image-center">
        {% if certificates %}
            <div id="carousel-certificates" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for certificate in certificates %}
                        <li data-target="#carousel-certificates" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for certificate in certificates %}
                        <div class="carousel-item{% if forloop.first %} active{% endif %}">
                            <img src="{{ certificate.image.url }}" alt="{{ certificate.course }} certificate" class="carousel-image">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel-certificates" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carousel-certificates" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        {% else %}
            <p>Error. No database found.</p>
        {% endif %}
    </div>
    <div class="tinymce-link">
        {% if learning %}
            {{ learning|safe }}
        {% else %}
            <p>Error. No database found.</p>
        {% endif %}
    </div>
</div>
<hr class="last-line">
{% endblock content %}